   <header class="header_section bg-white shadow-sm">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light py-3">
          <a class="navbar-brand fw-bold fs-3" href="/">
            <h1 id="title">
            <img src="assets/brand/logo.png" alt="BIBILIOTECA-MAUÁ Logo" class="me-2" style="height: 40px;" />
            <span class="text-primary">BIBILIOTECA<span class="text-secondary">MAUÁ</span></span>
        </h1>  
        </a>
          
          <button class="navbar-toggler border-0 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link  fw-semibold px-3" aria-current="page" href="/">
                  <i class="fas fa-home me-1"></i>Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-semibold px-3 text-hover-primary" href="/project">
                  <i class="fas fa-info-circle me-1"></i>O Projeto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-semibold px-3 text-hover-primary" href="/books">
                  <i class="fas fa-book me-1"></i>Livros
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-semibold px-3 text-hover-primary" href="/contact">
                  <i class="fas fa-envelope me-1"></i>Contato
                </a>
              </li>
            </ul>
            
            <div class="d-flex">
              <a href="/community" class="btn btn-primary btn-lg px-4 py-2 fw-bold text-uppercase rounded-pill shadow-sm">
                <i class="fas fa-users me-2"></i>Comunidade
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>