<section class="d-flex py-6">
        <div class="container align-self-center">
          <div class="row">
            <div class="col-lg-6">
              <div class="content mx-auto px-4 my-5">
                <img src="assets/images/img03.png" class="img-fluid">
                <div class="container">
                    <div class="d-flex justify-content-around align-content-center m-4">
                        <button class="btn btn-primary px-4 py-2" id="btn2SignIn">LOGIN</button>
                        <button class="btn btn-primary px-4 py-2" id="btn2SignUp">SIGN UP</button>
                        <button class="btn btn-primary px-4 py-2" id="btn2Recovery">RECOVER PASSWORD</button>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex">
              <div class="align-self-center my-5 px-4">
                <div class="container" >
                <h2 class="display-4 fw-bold mb-5">Join our<span class="text-primary"> COMMUNITY.</span></h2>
<div id="communityContent">
                <ul class="list-unstyled mb-0">
                  <li class="d-flex mb-4">
                    <p class="lead fw-bold text-primary d-flex step">1</p>
                    <div class="ms-3">
                      <p class="lead fw-bold">Create your Account.</p>
                      <p>If you do not have an account yet, create one right now.</p>
                      </div>
                  </li>
                  <li class="d-flex mb-4">
                    <p class="lead fw-bold text-primary d-flex step">2</p>
                    <div class="ms-3">
                      <p class="lead fw-bold">Collaborate with Files.</p>
                      <p>Share summaries, research, and learning materials for core users.</p>
                    </div>
                  </li>
                  <li class="d-flex mb-4">
                    <p class="lead fw-bold text-primary d-flex">3</p>
                    <div class="ms-3">
                      <p class="lead fw-bold">Ask questions on the <strong>HELPERS WALL</strong>.</p>
                      <p>A collaborative learning forum for the community.</p>
                    </div>
                  </li>
                </ul>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
