<main>
<section class=" slider_section position-relative">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slider_item-box">
              <div class="slider_item-container">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="slider_item-detail">
                        <div>
                          <h2 class="display-4">
                            BEM-VINDOS!<br />
                            à <span class="text-primary fw-bold">BIBLIOTECA</span><span class="text-secondary fw-bold"> MAUÁ</span>
                          </h2>
                          <p>
                            Bem-Vindo ao projeto onde você pode encontrar uma variedade de artigos de pesquisas acadêmicas realizadas por alunos e professores da Universidade Mauá. Nosso objetivo é fornecer um espaço acessível e organizado para que todos possam explorar e se beneficiar do conhecimento gerado em nossa instituição.
                          </p>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="slider_img-box">
                        <div>
                          <img src="/assets/brand/logo.png"  style="max-width: 100%; padding: 2rem;
                          " alt="" class="img-fluid" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
    </section>
</main>