
<body>
    <style>
        @import "/stylesheets/.css";
        @import"/stylesheets/grid.css";
    </style>
    <main class="container-fluid">
        <div class="header">
            <h2>PROJETOS</h2>
        </div>
              <div class="columnA">
            <div class="nav_menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
        </div>
    </div>
        <div class="columnB">
            <div class="content">
                <h3>Projeto 1</h3>
                <p>Descrição do projeto 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <h3>Projeto 2</h3>
                <p>Descrição do projeto 2. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h3>Projeto 3</h3>
                <p>Descrição do projeto 3. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
    <div class="columnC">
        <div class="sidebar">
            <h4>Sidebar</h4>
            <p>Conteúdo adicional ou links podem ser colocados aqui.</p>
        </div>
    </div>
</main>    
</body>
